POSTGRES_DB=parking_db
POSTGRES_USER=parking_user
POSTGRES_PASSWORD=change-this-db-password

PARKING_JWT_SECRET=change-this-to-a-long-random-secret-at-least-32-characters
PARKING_JWT_EXPIRATION_MINUTES=60